{% extends "base.html" %}
{% block title %}<title>{{ post.title }}</title>{% endblock %}

{% block content %}
<div class="blog-main">
  <h2 class="border-bottom blog-post-title">
    {{ post.title }}
  </h2>
  <p class="blog-post-meta text-muted">
    Create at: {{ post.last_modified.strftime('%c') }} by <a href="#">{{ post.author.username }}</a>
  </p>
  <p>
    {{ post.body }}
  </p>
  <p>
    Tags:
    {% for tag in post.tags %}
      <a href="#">{{ tag.name }},</a>
    {% endfor %}
  </p>
</div>
{% endblock %}
