{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label(class="form-control-label") }}
    {{ form.username(class="form-control") }}
    {% if form.username.errors %}
      {% for error in form.username.errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.password.label(class="form-control-label") }}
    {{ form.password(class="form-control") }}
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.remember }}
    {{ form.remember.label }}
  </div>
  <div class="form-group">
    {{ form.submit(class="btn btn-primary")}}
    <a href="{{ url_for('posts.index') }}"><button class="btn btn-secondary">Cancel</button></a>
  </div>
</form>
{% endblock %}
